p, h1, h2{
	color: #333;
	font-family: georgia;
}
h2{
	font-size: 24px;
	margin: 10px 10px;
	font-family: georgia;
}
p{
	font-size: 16px;
	margin: 5px 0px;
}
#header{
	text-align: center;
	padding: 150px 0px;
}
#header h1{
	font-size: 60px;
	font-style: italic;
	font-family: georgia;
	width: 500px;
	margin: 0px auto;
	/*font-variant: small-caps;*/
}
.tagline {
    font-size: 24px;
    line-height: 37px;
    width: 400px;
    margin: 20px auto;
    font-family: georgia;
}
#header img{
	width: 600px;
}
#footer{
	/*background: #f2f2ee;*/
	background: #eee;
	height: 250px;
	overflow: hidden;
	text-align: center;
}
#footer img{
	width: 600px;
}
.application{
	width: 100%;
}
.ball{
    border-radius: 200px;
    border: 4px solid #333;
    background: #ffffff;
    height: 20px;
    width: 20px;
    left: 368px;
    position: relative;
	top: -25px;
    overflow: hidden;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
}
.ball img {
    position: relative;
    top: -30px;
    width: 80px;
    height: 80px;
    left: -30px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
}
.presentation:hover .ball {
    width: 80px;
    height: 80px;
    top: -55px;
    left: 338px;
}
.presentation:hover img {
    top: 0px;
    left: 0px;
}
.schedule, .info{
	margin: 0px auto;
    width: 400px;
    border-right: 4px solid #333;
    border-top: 4px solid #333;
    margin-bottom: -48px;
    padding-bottom: 40px;
}
.info{
	margin-bottom: 100px;
}
.info p {
    line-height: 20px;
    margin: 15px 30px;
}
.person {
    padding-left: 20px;
    text-align: right;
    padding-right: 30px;
    padding-bottom: 25px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    height: 100px;
}
h3.title {
    position: relative;
    top: -15px;
}
p.duration {
    font-style: italic;
    position: relative;
	right: -94px;
    top: 55px;
    display: inline;
}
p.topic {
    font-family: georgia;
    position: relative;
    top: 10px;
	height: 18px;
}
.person:nth-child(odd){
	background: #eee;
}
.presentation:hover{
	background: #ddd;
	cursor: pointer;
}
.person h3{
	color: #555;
	font-size: 24px;
	font-style: initial;
	font-family: arial;
	font-variant: small-caps;
	position: relative;
	top: 10px;
    height: 30px;
}
.presentation h3{
	font-size: 28px;
	font-style: italic;
	color: #f37f4a;
}
.scheduleview h2, .generalinformation h2{
	width: 450px;
	margin: 10px auto;
	font-size: 30px;
}
#map-canvas{
	height: 300px;
}
@media (max-width: 600px) {
	.presentation:hover .ball {
		left: 198px;
	}
	#header h1{
		font-size: 45px;
		width: 400px;
	}
	.tagline {
		width: 300px;
		font-size: 20px;
	}
	#footer img{
		width: 400px;
	}
	#header img{
		width: 400px;
	}
	.schedule, .info{
		/*margin: 0px auto;*/
		width: 280px;
	}
	.ball{
		left: 248px;
	}
	.ball img{
		display: none;
	}
	.presentation:hover .ball {
		height: 20px;
	    width: 20px;
		left: 248px;
		top: -25px;
	}
	.scheduleview h2, .generalinformation h2{
		width: 240px;
	}
}
@media (max-width: 400px) {
	#header h1{
		/*font-size: 30px;*/
		width: 300px;
	}
	#header img{
		width: 300px;
	}
	.ball{
		top: -34px;
	}
	.presentation:hover .ball {
		top: -34px;
	}
	p.duration {
	    right: 0px;
	    top: 10px;
	    display: block;
	}
	#footer{
		height: 150px;
	}
	#footer img{
		width: 300px;
	}
}
